{{!-- Just a small warning... this file holds the entirety of the frontend app  --}}
{{!-- Yup... HTML, CSS and Javascript ALL in one file --}}
{{!-- Beautiful right? --}}

<div id='particles-js'>
  <div class="space">
    <div class="stats">
      <h2>Planet: ITSociety</h2>
      <div class="meatsacks">Total 👪:
        <span class="meatsacks-total"></span>
      </div>
      <div class="currency">Total 🤑:
        <span class="currency-total"></span>
      </div>
    </div>
    <div class="planet pulse-single">
      <img src="http://localhost:8080/images/planet.png">
    </div>
  </div>
  <div class="devbox">
    <div class="reset">KILL ALL</div>
    <div class="add-100">Add 100</div>
    <div class="add-1000">Add 1000</div>
  </div>

  <div class="unlock-container">
    <span class="store-title">Unlocks 🔓</span> 
    <div class="unlocks"></div>
  </div> 
  
  <div class="stats-container">
    <span class="stats-title">Stats 📈</span>
    <div class="meatsacks">Total 👪 P/S:
      <span class="meatsacks-ps-total"></span>
    </div>
    <div class="currency">Total 🤑 P/S:
      <span class="currency-ps-total"></span>
    </div>
  </div>
  
</div>

<style>
  /* ---- reset ---- */

body {
  margin: 0;
  background-color: #17182f;
  color: #fff;
  font-family: monospace;
}

canvas {
  display: block;
  vertical-align: bottom;
}
@keyframes pulse {
  from {
    max-width: 150px;
  }
  to {
   max-width: 160px;
  }
}

.pulse-single:active {
  animation: pulse 0.2s 1 ease-out;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.planet {
  position: absolute;
  max-width: 150px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.planet img {
  max-width: 100%;
  padding: 20px 0 0 0;
}

.space {
  align-items: center;
  justify-content: center;
  display: flex;
}

.stats {
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 500px;
}

.stats-title{
  text-align: left !important;
  font-size: 1.5em;
}

.unlock {
  cursor: pointer;
} 

.unlock:hover {
  background:rgba(221, 221, 221, 0.7);
}
.unlocked{
  border: 0.5px #fff solid;
  padding: 5px;
  margin: 10px;
}
.unlock-container{
  border: #fff 1px solid;
  position: absolute;
  right: 0;
  max-width: 30%;
  min-width: 31%;
  padding: 10px;
  margin: 10px 10px 0 0;
}

.stats-container{
  border: #fff 1px solid;
  position: absolute;
  max-width: 30%;
  min-width: 31%;
  padding: 10px;
  text-align: right;
  margin: 10px 0 0 10px;
}

.store-title{
  font-size: 1.5em;
}
.devbox {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  font-size: 2em;
  color: red;
}

</style>
<script>
  const totalPeople = document.querySelector('.meatsacks-total');
  const totalMoney = document.querySelector('.currency-total');
  
 
  const totalPeoplePS = document.querySelector('.meatsacks-ps-total');
  const totalMoneyPS = document.querySelector('.currency-ps-total');
  
  const planet = document.querySelector('.planet');

  const reset = document.querySelector('.reset');

  const addH = document.querySelector('.add-100');
  const addT = document.querySelector('.add-1000');

  const unlocks = document.querySelector('.unlocks');
  
  let peopleCount = 1;
  let moneyCount = 0;
  let peoplePerSecond = 0;
  let moneyPerSecond = 0;
  

  // some unlockable:
  /** { 
    title: 'sex', 
    description: '', 
    humansRequired: 2, 
    humansCost: 0,
    currencyCost: 0, 
    humansPerSecond: 1, 
    currencyPerSecond: 0,
    humanMultiplier: 1,
    currencyMultiplier: 1,
  }
  */

  const allUnlocks = [];
  let availableUnlocks = []
  const unlocked = []


  planet.addEventListener('click', (ev) => {
    ev.preventDefault();
    peopleCount += 1;
    if(moneyPerSecond > 0) {
      moneyCount += 1;
    }
    totalPeople.textContent = Math.floor(peopleCount);
    totalMoney.textContent = Math.floor(moneyCount);
  })

  reset.addEventListener('click', (ev) => {
      ev.preventDefault();
      peopleCount = 1;
      moneyCount = 0;
      peoplePerSecond = 0;
      moneyPerSecond = 0;
      save();
      setTimeout(() => {
        window.innerHTML = "";
        location.reload();
      }, 500)
    })

  addH.addEventListener('click', ev => {
    ev.preventDefault();
    peopleCount += 100;
    save();
  });

  addT.addEventListener('click', ev => {
    ev.preventDefault();
    peopleCount += 1000;
    save();
  });

  // Add currency per second to our bank
  function main() {
    console.log(peoplePerSecond);
    peopleCount += peoplePerSecond;
    moneyCount += moneyPerSecond;
  

    totalPeople.textContent = Math.floor(peopleCount);
    totalMoney.textContent = Math.floor(moneyCount);

    totalPeoplePS.textContent = Number.parseFloat(peoplePerSecond).toFixed(2);
    totalMoneyPS.textContent = Number.parseFloat(moneyPerSecond).toFixed(2);

    save();
    generateAvailableUnlocks()
  }

  // add our clicks to our bank
  function generateAvailableUnlocks() {
    const elements = getUnlocksDomList(allUnlocks.filter(unlock => -1 == unlocked.indexOf(unlock.id)).filter(unlock => peopleCount >= unlock.peoplerequired && moneyCount >= unlock.currencyrequired)).splice(0,5);

    if(elements.length !== unlocks.childNodes.length) {
      unlocks.innerHTML = "";
      elements.forEach(unlock => unlocks.appendChild(unlock));
    }
  }

  function h(args, text, classList='') {
    const elem = document.createElement(args);
    elem.classList = classList;
    elem.textContent = text;
    return elem;
  };

  function unlockElement(elem) {  
      peoplePerSecond = parseFloat(peoplePerSecond) + parseFloat(elem.dataset.peoplemultiplier);
      moneyPerSecond = moneyPerSecond + parseFloat(elem.dataset.currencymultiplier);

      console.log(elem.dataset.peoplemultiplier);
      console.log(peoplePerSecond, moneyPerSecond);

      unlocked.push(parseInt(elem.dataset.id,10));
      elem.remove();
  }

  const getUnlocksDomList = (a, locked = false) => a
    .map(unlock => {
      const outer = h('div', '', `unlock ${locked ? 'locked' : 'unlocked'}`);
      const nameDOM = h('span', unlock.title, 'unlock-name');
      const descDOM = h('div', unlock.description, 'unlock-desc');
      const costDOM = h('span', '🤑: ' + unlock.currencycost, 'unlock-cost');
      const peopleMultiDOM = h('span', ' 👪 multiplier: ' + unlock.peoplemultiplier, 'unlock-cost');
      //const costDOM = h('span', 'cost: ' + unlock.currencycost, 'unlock-cost');
      [nameDOM, descDOM, costDOM, peopleMultiDOM].forEach(elem => outer.appendChild(elem));
      Object.keys(unlock).forEach(key => outer.dataset[key] = unlock[key]);
      outer.addEventListener('click', () => unlockElement(outer));
      return outer;      
    });

  // unlock things and change our currencyPerSecond or humans/s
  function unlock() {

  }

  function save() {
    localStorage.setItem(
      'stats',
      // globals
      JSON.stringify({ 
        moneyPerSecond, 
        peoplePerSecond,
        peopleCount, 
        moneyCount, 
      })
    );
  }

  function load() {
    const saved = JSON.parse(localStorage.getItem('stats'));
    if (!saved) return;
    console.log('loading data:', { saved });
    peopleCount = saved.peopleCount;
    currencyPerSecond = saved.currencyPerSecond;
    moneyCount = saved.moneyCount;
    peoplePerSecond = saved.peoplePerSecond;
  }
  
  let interval;
  window.onload = () => {
    load();
    main();
    setInterval(main, 500);
  }

  socket.on('unlocks', (rows) => {
      const parsed = JSON.parse(rows);
      allUnlocks.length = 0;
      console.log({ ...parsed })
      allUnlocks.push(...parsed);

      //if (interval) clearInterval(interval);
      //interval = setInterval(main, 1000);
    });
</script>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<script>
particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 355,
      "density": {
        "enable": true,
        "value_area": 789.1476416322727
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.48927153781200905,
      "random": false,
      "anim": {
        "enable": true,
        "speed": 0.2,
        "opacity_min": 0,
        "sync": false
      }
    },
    "size": {
      "value": 2,
      "random": true,
      "anim": {
        "enable": true,
        "speed": 2,
        "size_min": 0,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 0.2,
      "direction": "none",
      "random": true,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "bubble"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 83.91608391608392,
        "size": 1,
        "duration": 3,
        "opacity": 1,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
</script>